<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <style>
        h1 {
        text-align: center;
        }
        .button {
        text-align: center;
        display: grid;
        margin: auto;
        }
    </style>
</head>
<body>
<h1>MyFarm</h1>
<form action="/activities" method="GET">
<button class="button">Activities</button>
</form>
<form action="/equipment" method="GET">
<button class="button">Equipment</button>
</form>
</body>
</html>