<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
    <style>
        body {
        background-image: url('ActivityBackground.jpg');
        background-size: cover;
        }
        h1 {
        text-align: center;
        }
    </style>
</head>
<body>
<h1>Activities</h1>
<form action="activities/add" method="POST">
    <label>Location: </label>
    <label>
        <input type="text" name="location"/>
    </label> <br/>
    <label>Description: </label>
    <label>
        <input type="text" name="description"/>
    </label> <br/>
    <label>Date created: </label>
    <label>
        <input type="date" name="dateCreated"/>
    </label> <br/>
    <button>Submit</button>
</form>
<div th:each="activity: ${activities}">
    <p th:text="'Location: ' + ${activity.getLocation()}"></p>
    <p th:text="'Description: ' + ${activity.getDescription()}"></p>
    <p th:text="'Date created: ' + ${activity.getDateCreated()}"></p>
    <p th:text="'Date updated: ' + ${activity.getDateUpdated()}"></p>
    <br>
</div>
<form action="/?" method="GET">
    <button>Home</button>
</form>
</body>
</html>