<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Equipment</title>
    <style>
        body {
        background-image: url('EquipmentBackground.jpeg');
        background-size: cover;
        }
        h1 {
        text-align: center;
        }
    </style>
</head>
<body>
<h1>Equipment</h1>
<form action="equipment/add" method="POST">
    <label>Name: </label>
    <label>
        <input type="text" name="name"/>
    </label> <br/>
    <label>Utility: </label>
    <label>
        <input type="text" name="utility"/>
    </label> <br/>
    <label>Quantity: </label>
    <label>
        <input type="number" min="0" name="quantity"/>
    </label> <br/>
    <button>Submit</button>
</form>
<br>
<form action="equipment/deletebyid" method="POST">
    <label>Delete by ID: </label>
    <label>
        <input type="number" name="id">
    </label> <br/>
    <button>Delete</button>
</form>
<br>
<form action="/?" method="GET">
    <button>Home</button>
</form>
<div th:each="equipment: ${equipments}">
    <p th:text="'ID: ' + ${equipment.getId()}"></p>
    <p th:text="'Name: ' + ${equipment.getName()}"></p>
    <p th:text="'Utility: ' + ${equipment.getUtility()}"></p>
    <p th:text="'Quantity: ' + ${equipment.getQuantity()}"></p>
    <br>
</div>
</body>
</html>